<form action="/recipes/<%=@recipe.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">name:</label>
  <input type="text" name="name" value="<%=@recipe.name%>"/>
  <label for="ingredients">ingredients:</label>
  <input type="text" name="ingredients" value="<%=@recipe.ingredients%>"/>
  <label for="cook time">cook time:</label>
  <input type="text" name="cook_time" value="<%=@recipe.cook_time%>"/>
  <input type="submit" value="Add new recipe"/>
</form>
