<h2>Create a new recipe</h2>


<form method="POST" action ="/recipes">
  <label>Recipe Name:<input type="text" name="name"></label><br/>
  <label>Ingredients:<input type="text" name="ingredients"></label><br/>
  <label>Cook Time:<input type="text" name="cook_time"></label><br/>
  <button type="submit" name="submit">Submit </button>
</form>
