<h1>Create a New Recipe.</h1>
<form action="/recipes" method="post">
  <label for="name">Name: </label>
  <input name="name" type="text"/>
  <label>Ingredients: </label>
  <input name="ingredients" type="text"/>
  <label>Cook time: </label>
  <input name="cook_time" type="integer"/> minutes
  <input value="Create a New Recipe" type="submit"/>
</form>
