<form action="/recipes" method="post">
  <label for="name">name:</label>
  <input type="text" name="name"/>
  <label for="ingredients">ingredients:</label>
  <input type="text" name="ingredients"/>
  <label for="cook time">cook time:</label>
  <input type="text" name="cook_time">
  <input type="submit" value="Add new recipe"/>
</form>
